div.container-fluid(styleName='root')

  nav.navbar.navbar-default.navbar-fixed-top(styleName='header')
    .container-fluid
      .navbar-header
        a.navbar-brand(href='https://github.com/bluewings/pug-as-jsx-loader')
          i.fa.fa-fw.fa-github-alt
          | &nbsp;pug-as-jsx-loader
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='#try-it-out') Try it out
          li
            a(href='#webpack-config-js') webpack.config.js
  .row(style='{{ paddingTop: 10 }}')
    .col-sm-12
      h2(styleName='topic')
        #try-it-out(styleName='anchor')
        span
          | Try it out
          a.header-anchor(href='#try-it-out', aria-hidden='true')
            span ¶

    .col-sm-6(styleName='overflow-visible')
      .panel.panel-default(styleName='{(this.state.err ? "has-error": "")}')
        .panel-heading
          i.fa.fa-fw.fa-code
          | &nbsp; try-it-out.pug
          .pull-right
            DropdownButton(id='samples',
              bsSize='sm',
              pullRight='{true}',
              title='{this.state.sampleName}')
              MenuItem(@repeat='samples as sample, i',
                eventKey='{i}', onClick='{this.selectSample.bind(this, sample)}')
                | {sample.name}
        .panel-body(style='{{ padding: 0 }}')
          div(styleName='code-wrap')
            CodeMirror(
              ref='{(cm) => this.cm.source = cm}',
              value='{this.state.source}',
              onChange='{this.handleSourceChange}',
              options='{{ mode: "pug", styleActiveLine: true, lineNumbers: true, lineWrapping: false, theme: "default" }}')
        .panel-footer(@if='this.state.err')
          pre {this.state.err}

    .col-sm-6(styleName='overflow-visible')
      .panel.panel-default
        .panel-heading
          i.fa.fa-fw.fa-file-text-o
          | &nbsp; Result
        .panel-body(style='{{ padding: "0 10px" }}')
          div(@if='this.state.tab !== "jsx"')
            p(styleName='tab')
              | Transpiled JSX
              span &nbsp; | &nbsp;
              a(href='', onClick='{this.selectTab.bind(this, "jsx")}') Import PUG template
            div(styleName='code-wrap')
              CodeMirror(
                ref='{(cm) => this.cm.jsx = cm}',
                value='{this.state.jsx}',
                options='{{ mode: "jsx", styleActiveLine: false, lineNumbers: false, lineWrapping: false, theme: "default", readOnly: true }}')
          div(@if='this.state.tab === "jsx"')
            p(styleName='tab')
              a(href='', onClick='{this.selectTab.bind(this, "usage")}') Transpiled JSX
              span &nbsp; | &nbsp;
              | Import PUG template
            div(styleName='code-wrap')
              CodeMirror(
                ref='{(cm) => this.cm.usage = cm}',
                value='{this.state.usage}',
                options='{{ mode: "javascript", styleActiveLine: true, lineNumbers: false, lineWrapping: false, theme: "default", readOnly: true }}')

    .col-sm-12
      hr
      h2(styleName='topic')
        #webpack-config-js(styleName='anchor')
        span
          | webpack.config.js
          a.header-anchor(href='#webpack-config-js', aria-hidden='true')
            span ¶

    .col-sm-12(styleName='overflow-visible')
      .panel.panel-default
        .panel-heading
          i.fa.fa-fw.fa-code
          | &nbsp; webpack.config.js
        .panel-body(style='{{ padding: 0 }}')
          div(styleName='code-wrap')
            CodeMirror(
              ref='{(cm) => this.cm.webpackConfig = cm}',
              value='{this.state.webpackConfig}',
              options='{{ mode: "javascript", styleActiveLine: true, lineNumbers: true, lineWrapping: false, theme: "default" }}')
